.affix {
  top: 0;
  left: 0;
}

.affixed-sidebar {
  font-size: 1.4em;
  margin-top: 40px;
  padding: 30px;
}

.affixed-sidebar ul li ul li a {
  font-size: 0.8em;
  padding-left: 2em;
}

.affixed-sidebar a {
  display: block;
  border-left: 2px solid $white;
}
.affixed-sidebar .active > a, .affixed-sidebar a:hover {
  border-left: 2px solid $brand-primary;
}
