#html5-video-support_index {

	#no-js-support {
	  text-align: center;
	}
	.my-browser-support {
	  margin-bottom: 20px;
	}
	table.html5-support th,
	table.html5-support td {
	  text-align: center;
	}
	table.html5-support th {
	  font-weight: bold;
	  background-color: #eeeeee;
	}
	table.html5-support td {
	  width: 33.333%;
	}
	table.html5-support li {
	  display: inline;
	}
	table.html5-support .tooltip-arrow {
	  display: none;
	}
	table.html5-support .tooltip-inner {
	  background-color: #3da2d9;
	}

}
