<section class="overview">
  <h1>Plugins and Skins</h1>
  <p class="tagline">
    You can customize Video.js using 3rd party plugins and skins. For more information about creating and using
    Video.js extensions, please see the <a href="http://docs.videojs.com/docs/guides/plugins.html">documentation</a>.
  </p>
</section>

<div id="plugin-container" class="container">
</div>
