@mixin generate-player-sizing($width-percentage) {
  width: $width-percentage;
  padding-top: $width-percentage * $preview-video-ratio
}

.main-preview-player {
  margin: 0 auto;

  text-align: center;
}

.main-preview-player .button {
  text-transform: uppercase;
}

#btn-use-now {
  margin-right: 20px;
}

#preview-player {
  margin: 0 auto 30px;

  @include generate-player-sizing(100%);
}
