.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
}

.sponsor {
  background: #fff;
  padding: 20px;
  margin: 10px;
  height: auto;
  flex: 1 1 0%;
  min-width: 265px;
}

.sponsor h3 {
  margin-bottom: 20px;
}

.shepherd {
  flex-grow: 3;
  flex-shrink: 1;
}

.shepherd .logo {
  height: 200px;
  width: auto;
  float: left;
  margin: 0 20px 20px 0;

  @media (max-width: 480px) {
    width: 100%;
    height: auto;
  }
}

.cdn {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 200px;
}

.cdn .logo {
  width: 100%;
}
