lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

build
.s3config.json

*.DS_Store

_www
www
*~

# Things in public js folder are built via Browserify
public/js/**/*.js
_harp/js/**/*.js
_harp/vendor/**/*
