<section>
<!-- <div class="container pageBody"> -->

<div id="no-js-support" class="alert alert-error">Your browser does not support JavaScript, or it is currently disabled. HTML5 video may work without it, but you'll miss out on whatever custom experience a developer built using Video.js. Please consider upgrading to a browser that supports JavaScript or enabling it.</div>

<div class="my-browser-support">
  <h3>Your browser</h3>
</div>

<h3>HTML5 Browser Support by Codec</h3>
<table class="html5-support table table-bordered">
  <thead>
    <tr>
      <th><h4>H.264</h4></th>
      <th><h4>WebM</h4></th>
      <th><h4>Ogg Theora</h4></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <li><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank"><img src="/img/browser-icons/firefox.png" alt="Firefox" title="Firefox 21+"></a></li>
          <li><a href="https://www.apple.com/safari/" target="_blank"><img src="/img/browser-icons/safari.png" alt="Safari" title="Safari 3+"></a></li>
          <li><a href="https://www.google.com/intl/en/chrome/browser/" target="_blank"><img src="/img/browser-icons/chrome.png" alt="Chrome" title="Chrome 3+"></a></li>
          <li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank"><img src="/img/browser-icons/ie.png" alt="IE" title="IE 9+"></a></li>
        </ul>
      </td>
      <td>
        <ul>
          <li><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank"><img src="/img/browser-icons/firefox.png" alt="Firefox" title="Firefox 4+"></a></li>
          <li><a href="https://www.google.com/intl/en/chrome/browser/" target="_blank"><img src="/img/browser-icons/chrome.png" alt="Chrome" title="Chrome 6+"></a></li>
          <li><a href="http://www.opera.com/" target="_blank"><img src="/img/browser-icons/opera.png" alt="Opera" title="Opera 10.6+"></a></li>
        </ul>
      </td>
      <td>
        <ul>
          <li><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank"><img src="/img/browser-icons/firefox.png" alt="Firefox" title="Firefox 3.5+"></a></li>
          <li><a href="https://www.google.com/intl/en/chrome/browser/" target="_blank"><img src="/img/browser-icons/chrome.png" alt="Chrome" title="Chrome 3+"></a></li>
          <li><a href="http://www.opera.com/" target="_blank"><img src="/img/browser-icons/opera.png" alt="Opera" title="Opera 10.5+"></a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<!-- </div> -->

</section>
