footer {
  background-color: $dark-gray;
  color: $white;
  min-height: 40px;
  height: auto;
  line-height: 20px;
  padding: 10px 20px;
}

footer:after {
  content: "";
  display: table;
  clear: both;
}

footer a {
  color: $light-gray;

  &:hover {
    color: darken($light-gray, 10%);
  }
}

footer .button {
  @extend .btn-xs
}

footer .copyright {
  float: left;
  width: 50%;
}

footer .other-links {
  margin: 0;
  padding: 0;
  float: right;

  @media (max-width: $screen-sm) {
    float: none;
    text-align: center;
  }
}

footer .other-links li {
  display: inline;
}
