/* Plugin Navigation */

.plugin-nav {
  border-top: thin solid $dark-gray;
}

/* Plugin Listing */

.plugin-list {
  @extend .list-group;
}

.plugin-entry,
.plugin-list-empty {
  @extend .list-group-item;
}

.plugin-list-empty {
  min-height: 200px;
}

/* Plugin Docs and Example */

.video-js.plugin-preview-player {
  margin: 0 auto 30px;
  @include generate-player-sizing(100%);
}

.plugin-info {
  padding: 0;
  margin: 5px;
  list-style-type: none;
  @extend .panel-body;
}

.plugin-readme h1 {
  margin-bottom: 20px;
}
.plugin-readme p:nth-child(2) {
  @extend .lead;
}
