<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Video.js: The player framework</title>

  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="stylesheet" href="https://rawgit.com/videojs/video.js/v5.0.0-4/dist/video-js.min.css" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <nav>
      <div class="nav-header">
        <a href="/" class="logo">
          <h1>Videojs</h1>
        </a>
      </div>

      <div class="nav-links">
        <ul>
          <li><a href="#">start</a></li>
          <li><a href="#">customize</a></li>
          <li><a href="#">docs</a></li>
        </ul>
      </div>

      <div class="nav-other">
        <ul>
          <li><a href="https://github.com/videojs/video.js"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <%- yield %>

  <footer>
    <span class="copyright">
      Video.js is a free and open source HTML5 video player. © <a href="https://brightcove.com" parent="_blank">Brightcove, Inc</a>. 
      <a href="https://github.com/videojs/video.js/blob/master/LICENSE" class="button blue" parent="_blank">View license</a>
    </span>

    <ul class="other-links">
      <li>
        <a href="https://twitter.com/videojs" class="button white" parent="_blank"><i class="fa fa-twitter"></i> @videojs</a>
      </li>
      <li>
        <a href="http://zencoder.us2.list-manage2.com/subscribe?u=36f130c3d3fadb2a21d2983b7&id=0f35b0535c" class="button white" parent="_blank"><i class="fa fa-envelope"></i> Newsletter</a>
      </li>
      <li><a href="http://github.com/videojs/video.js" class="button white" parent="_blank"><i class="fa fa-github-alt"></i> Source</a></li>
    </ul>
  </footer>
  <script src="https://rawgit.com/videojs/video.js/v5.0.0-4/dist/video.min.js"></script>
  <script src="/js/bundle.js"></script>
</body>
</html>
