<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Starting Block</title>

  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
  <header>
    <nav>
      <div class="nav-header">
        <a href="/" class="logo"><h1>Videojs</h1></a>
      </div>

      <div class="nav-links">
        <ul>
          <li><a href="#">start</a></li>
          <li><a href="#">customize</a></li>
          <li><a href="#">docs</a></li>
        </ul>
      </div>

      <div class="nav-other">
        <ul>
          <li><a href="https://github.com/videojs/video.js"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <%- yield %>

  <footer></footer>
  <script src="/js/bundle.js"></script>
</body>
</html>
