<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Starting Block</title>

  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>
<body>
  <header></header>

  <%- yield %>

  <footer></footer>
  <script src="/js/bundle.js"></script>
</body>
</html>
