<section class="main-preview-player">
  <video id="preview-player" class="video-js" controls preload="auto" width="auto" height="auto"
      poster="http://video-js.zencoder.com/oceans-clip.png"
      data-setup='{}'>
    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'>
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm'>
    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg'>
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>

  <a href="#" id="btn-use-now" class="button gray">Use now</a>
  <a href="#" id="btn-customize" class="button blue">Customize</a>
</section>

<section class="used-by">
  <h3>In use and contributed to by many of the greats...</h3>
</section>

<section class="sponsors">
  <h3>Corporate shepherd</h3>
</section>
