<section class="main-preview-player">
  <video id="preview-player" class="video-js" controls preload="auto" width="auto" height="auto"
      poster="http://video-js.zencoder.com/oceans-clip.png"
      data-setup='{}'>
    <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4'>
    <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm'>
    <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg'>
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>

  <script type="text/template" id="overlay-template">
    <div class="videojs-hero">
      <img src="/img/logo.png" alt="Video.js" class="logo">
      <span class="subhead">The Player Framework</span>
      <a href="https://www.npmjs.com/package/video.js">
        <img src="https://img.shields.io/npm/v/video.js.svg" class="npm-badge">
      </a>
    </div>
  </script>

  <a href="#" id="btn-use-now" class="button gray">Use now</a>
  <a href="#" id="btn-customize" class="button blue">Customize</a>
</section>

<section class="used-by">
  <h3 class="title">In use and contributed to by many of the greats...</h3>

  <ul>
    <li>Instagram</li>
    <li>Dropbox</li>
    <li>Twitter</li>
    <li>The Onion</li>
    <li>Funny or Die</li>
  </ul>
</section>

<section class="sponsors">
  <div class="sponsor shepherd">
    <h3>Corporate Shepherd</h3>

    <img src="/img/brightcove.png" alt="Brightcove" class="logo">

    <p>Literally mumblecore Wes Anderson, food truck gastropub chillwave pop-up Tumblr. Austin typewriter salvia American Apparel migas. Brooklyn health goth Williamsburg, photo booth try-hard heirloom letterpress distillery fanny pack disrupt hoodie vegan. YOLO 90's pork belly, hoodie flexitarian iPhone raw denim organic messenger bag wayfarers try-hard health goth swag letterpress. Deep v pour-over polaroid pug lo-fi. Occupy fanny pack keytar, small batch gluten-free fap chia put a bird on it lo-fi fashion axe irony. Readymade scenester tousled heirloom whatever.</p>
  </div>

  <div class="sponsor cdn">
    <h3>CDN Sponsor</h3>
    <img src="/img/fastly.png" alt="Fastly" class="logo">
  </div>
</section>

<section class="about">
  <h3>Release the awesome</h3>

  <p>Austin aesthetic heirloom next level, vinyl salvia Tumblr gluten-free Kickstarter hashtag meggings. Neutra small batch lumbersexual before they sold out chambray. Shabby chic aesthetic master cleanse wayfarers, crucifix taxidermy occupy PBR&B Helvetica normcore post-ironic kale chips whatever listicle. Cold-pressed photo booth hashtag fanny pack, synth chambray Marfa cred sustainable Blue Bottle sriracha cardigan single-origin coffee. Locavore forage freegan organic slow-carb, 8-bit YOLO twee synth scenester food truck gastropub raw denim. Salvia fanny pack Etsy, butcher sartorial vegan forage banjo deep v letterpress mumblecore ennui paleo. Brooklyn messenger bag gluten-free, tilde fashion axe cred Banksy pickled chambray brunch dreamcatcher.</p>

  <p>Odd Future dreamcatcher church-key, pork belly trust fund street art fashion axe photo booth chia selfies. Odd Future Bushwick Kickstarter, tilde Shoreditch hella banh mi mlkshk Helvetica pour-over banjo meggings cornhole craft beer synth. Mumblecore normcore tousled wayfarers, cronut Etsy gentrify messenger bag mlkshk VHS cray polaroid before they sold out. Single-origin coffee viral Godard artisan Intelligentsia. Aesthetic Portland organic chia polaroid. IPhone sustainable banjo, Blue Bottle direct trade viral Williamsburg lumbersexual butcher occupy health goth brunch. Brooklyn put a bird on it lomo, Carles sartorial distillery paleo small batch chia.</p>
</section>
<script src="/js/index.js"></script>
