.overview {
  background-color: $blue;
  color: $white;
}

.overview h1 {
  font-size: 4em;
}

.overview p {
  font-size: 1.2em;
}

.overview a {
  color: $white;
  text-decoration: underline;

  &:hover {
    color: darken($white, 10%);
  }
}
