<footer>
  <span class="copyright">
    Video.js is a free and open source HTML5 video player. © <a href="https://brightcove.com" parent="_blank">Brightcove, Inc</a>.
    <a href="https://github.com/videojs/video.js/blob/master/LICENSE" class="button blue" parent="_blank">View license</a>
  </span>

  <ul class="other-links">
    <li>
      <a href="https://twitter.com/videojs" class="button white" parent="_blank"><i class="fa fa-twitter"></i> @videojs</a>
    </li>
    <li>
      <a href="http://zencoder.us2.list-manage2.com/subscribe?u=36f130c3d3fadb2a21d2983b7&id=0f35b0535c" class="button white" parent="_blank"><i class="fa fa-envelope"></i> Newsletter</a>
    </li>
    <li><a href="http://github.com/videojs/video.js" class="button white" parent="_blank"><i class="fa fa-github-alt"></i> Source</a></li>
  </ul>
</footer>
