<nav class="<%- current.source == 'index' ? 'navbar-fixed-top' : 'navbar-absolute-top' %>">
  <div class="nav-header">
    <a href="/" class="logo">
      <h1>Videojs</h1>
    </a>
  </div>

  <div class="nav-links">
    <ul>
      <li><a href="/getting-started/">start</a></li>
      <li><a href="/getting-started/#customize">customize</a></li>
      <li><a href="http://docs.videojs.com">docs</a></li>
      <li><a href="http://blog.videojs.com">blog</a></li>
    </ul>
  </div>

  <div class="nav-other">
    <ul>
      <li><a href="https://github.com/videojs/video.js"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
</nav>
