<ul>
  <li><a href="http://instagram.com" target="_blank"><img src="/img/company-logos/instagram.png" alt="Instagram"></a></li>
	<li><a href="http://twitter.com" target="_blank"><img src="/img/company-logos/twitter.png" alt="Twitter"></a></li>
  <li><a href="http://microsoft.com" target="_blank"><img src="/img/company-logos/microsoft.png" alt="Microsoft"></a></li>
	<li><a href="http://dropbox.com" target="_blank"><img src="/img/company-logos/dropbox.png" alt="Dropbox"></a></li>
	<li><a href="http://github.com" target="_blank"><img src="/img/company-logos/github.png" alt="Github"></a></li>
</ul>
