<ul>
  <li><a href="https://instagram.com" target="_blank"><img src="/img/company-logos/instagram.png" alt="Instagram"></a></li>
  <li><a href="https://twitter.com" target="_blank"><img src="/img/company-logos/twitter.png" alt="Twitter"></a></li>
  <li><a href="https://microsoft.com" target="_blank"><img src="/img/company-logos/microsoft.png" alt="Microsoft"></a></li>
  <li><a href="https://dropbox.com" target="_blank"><img src="/img/company-logos/dropbox.png" alt="Dropbox"></a></li>
  <li><a href="https://github.com" target="_blank"><img src="/img/company-logos/github.png" alt="Github"></a></li>
</ul>
