<section class="main-preview-player">
  <video id="preview-player" class="video-js vjs-fluid placeholder" controls preload="auto" poster="http://vjs.zencdn.net/v/oceans.png">
    <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
    <source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm'>
    <source src="http://vjs.zencdn.net/v/oceans.ogv" type='video/ogg'>
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>

  <div class="videojs-hero-overlay" id="overlay-template">
    <div class="videojs-hero">
      <img src="/img/logo.png" alt="Video.js" class="logo">
      <span class="subhead">The Player Framework</span>
      <a href="https://www.npmjs.com/package/video.js">
        <img src="https://img.shields.io/npm/v/video.js.svg" class="npm-badge">
      </a>
    </div>
  </div>

  <a href="/getting-started/" id="btn-use-now" class="button gray">Use now</a>
  <a href="/getting-started/#customize" id="btn-customize" class="button blue">Customize</a>
</section>

<section class="used-by">
  <h3 class="title">Built by the <strong><a href="https://github.com/videojs/video.js/network/members" target="_blank">community</a></strong>, used by the <strong>professionals</strong>...</h3>

  <%- partial("_users") %>

  <p>...and hundreds of thousands more...</p>
</section>

<section class="sponsors">
  <div class="sponsor shepherd">
    <h3>Corporate Shepherd</h3>

    <a href="https://www.brightcove.com" target="_blank"><img src="/img/brightcove.png" alt="Brightcove" class="logo"></a>

    <p>Brightcove is the main sponsor of the project, employing many of the core members and investing thousands of engineering hours every year in video.js and video.js plugins.</p>

    <p>The Brightcove Player is built on video.js and used on <a href="https://www.brightcove.com/en/customers" target="_blank">thousands of video websites</a>, ensuring video.js can handle the most professional use cases.</p>

    <p><a href="https://www.brightcove.com" target="_blank">Learn more about Brightcove</a></p>
  </div>

  <div class="sponsor cdn">
    <h3>CDN Sponsor</h3>
    <a href="https://www.fastly.com" target="_blank"><img src="/img/fastly.png" alt="Fastly" class="logo"></a>
  </div>
</section>

<section class="gallery">
  <h3>User Examples</h3>

  <div class="gallery-items">
    <div class="gallery-item">
      <div class="gallery-item-wrapper onionstudios">
        <iframe name="embedded" allowfullscreen webkitallowfullscreen mozallowfullscreen frameborder="no" scrolling="no" temp-src="http://www.onionstudios.com/embed?id=3158"></iframe>
      </div>
      <a href="http://www.onionstudios.com/channels/the-onion" target="_blank"><img src="/img/company-logos/onion-horizontal.png" alt="The Onion"></a>
    </div>

    <div class="gallery-item">
      <div class="gallery-item-wrapper funnyordie">
        <iframe temp-src="//www.funnyordie.com/embed/25c17d6eb2" width="640" height="400" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
      </div>
      <a href="http://funnyordie.com" target="_blank"><img src="/img/company-logos/funnyordie.png" alt="Funny or Die"></a>
    </div>

    <div class="gallery-item">
      <div class="gallery-item-wrapper theguardian">
        <iframe temp-src="https://embed.theguardian.com/embed/video/news/video/2015/jul/20/california-drought-eat-beef-wash-video" frameborder="0" allowfullscreen></iframe>
      </div>
      <a href="http://www.theguardian.com/video" target="_blank"><img src="/img/company-logos/guardian.png" alt="The Guardian"></a>
    </div>
  </div>

</section>

<section class="about">
  <h3>About</h3>

  <p>Video.js is an open source library for working with video on the web, also known as an <strong>HTML video player</strong></p>

</section>
