.main-preview-player {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .video-js,
  & .playlist-container {
    position: relative;
    min-width: 300px;
    min-height: 150px;
    height: 0;
  }

  & .video-js {
    flex: 3 1 70%;
  }

  & .playlist-container {
    flex: 1 1 30%;

    & .vjs-playlist {
      margin: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.details {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100px;
  overflow: scroll;

  .bound-properties,
  .media-properties,
  .media-events {
    flex: 1 1 30%;
    min-width: 100px;
  }

  .events-list {
    list-style-type: none;

    .event-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .event-name {
      flex: 1 0 0;
    }
    .event-value {
      flex: 1 1 0;
    }
  }
}
