@mixin generate-player-sizing($width-percentage) {
  width: $width-percentage;
  padding-top: $width-percentage * $preview-video-ratio
}

.main-preview-player {
  margin: 0 auto;
  position: relative;

  text-align: center;
  max-width: $screen-xl;
}

.main-preview-player .button {
  text-transform: uppercase;
}

#btn-use-now {
  margin-right: 20px;
}

#preview-player {
  margin: 0 auto 30px;
  width: 100%;

  &.placeholder {
    padding-top: $preview-video-ratio * 100%;
  }
}

.videojs-hero-overlay {
   pointer-events: none;
   position: absolute;
   text-align: center;
   top: 37.5%;
   left: 0;
   width: 100%;
   margin: 0;
   padding: 0;
   background-color: rgba(250, 252, 255, 0.95);
   color: #757A7D;
   font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
   @include transition(opacity 0.2s);
}

.videojs-hero-overlay .videojs-hero {
  margin: 3% 2% 1%;
}

.videojs-hero-overlay .videojs-hero img.logo {
  width: 30%;
  margin: 0 auto;
  display: block;
}

.videojs-hero-overlay .videojs-hero .subhead {
  font-size: 1.25vw;
  margin: 1%;
  vertical-align: middle;
  line-height: 1.5vw;
}

.videojs-hero-overlay .videojs-hero a {
  line-height: 3.5vw;
  pointer-events: auto;
}

.videojs-hero-overlay .videojs-hero img.npm-badge {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Greyscale=1)";
  -webkit-filter: #{"grayscale(1)"};
  -moz-filter: #{"grayscale(1)"};
  filter: #{"grayscale(1)"};
  height: 1.25vw;
}
