extends layout

block head-includes
  script(src='/js/browser-support.js')

block content
  .container.pageBody
    #no-js-support.alert.alert-error
      | Your browser does not support JavaScript, or it is currently disabled. HTML5 video may work without it, but you'll miss out on whatever custom experience a developer built using Video.js. Please consider upgrading to a browser that supports JavaScript or enabling it.

    .my-browser-support
      h3 Your browser

    h3 HTML5 Browser Support by Codec
    table.html5-support.table.table-bordered
      thead
        tr
          th
            h4 H.264
          th
            h4 WebM
          th
            h4 Ogg Theora
      tbody
        tr
          td
            ul
              li
                img(src='/img/browser-icons/flash.png', alt='Flash', title='Flash 9+')
              li
                img(src='/img/browser-icons/firefox.png', alt='Firefox', title='Firefox 21+')
              li
                img(src='/img/browser-icons/safari.png', alt='Safari', title='Safari 3+')
              li
                img(src='/img/browser-icons/chrome.png', alt='Chrome', title='Chrome 3+')
              li
                img(src='/img/browser-icons/ie.png', alt='IE', title='IE 9+')
          td
            ul
              li
                img(src='/img/browser-icons/firefox.png', alt='Firefox', title='Firefox 4+')
              li
                img(src='/img/browser-icons/chrome.png', alt='Chrome', title='Chrome 6+')
              li
                img(src='/img/browser-icons/opera.png', alt='Opera', title='Opera 10.6+')
          td
            ul
              li
                img(src='/img/browser-icons/firefox.png', alt='Firefox', title='Firefox 3.5+')
              li
                img(src='/img/browser-icons/chrome.png', alt='Chrome', title='Chrome 3+')
              li
                img(src='/img/browser-icons/opera.png', alt='Opera', title='Opera 10.5+')
