extends layout

block content
  .banner
    .container
      .hero
        h3= locals.description
      .row
        .video.span10.offset1
          video#home_video.video-js.vjs-default-skin(controls, preload='none', poster='/img/poster.jpg')
            source(src='http://vjs.zencdn.net/v/oceans.mp4', type='video/mp4')
            source(src='http://vjs.zencdn.net/v/oceans.webm', type='video/webm')
            track(kind='captions', src='/vtt/captions.vtt', srclang='en', label='English')

          #videoModifications
            p
              | Customize Me:
              a.colorPicker#iconPicker(href='#', data-color='#ccc') Icon Color
              a.colorPicker#progressPicker(href='#', data-color='#66A8CC') Progress Color
              a.colorPicker#backgroundPicker(href='#', data-color='rgba(0,0,0,0.7)', data-color-format='rgba') Background Color
              input#fontSize(type='text', class='span2', value='', data-slider-min='60', data-slider-max='200', data-slider-step='1', data-slider-value='100', data-slider-orientation='horizontal', data-slider-selection='after', data-slider-tooltip='hide')
              a.btn.btn-info.btn-mini#showEmbedModal(href='#embedModal', role='button', data-toggle='modal') Embed This Player

            <!-- Modal -->
            #embedModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='embedCode', aria-hidden='true')
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true')×
                h3#embedCode Use Video.JS
              .modal-body
                h4 In the &lt;head&gt;:
                pre.prettyprint.lang-html
                  &lt;link href="http://vjs.zencdn.net/4.0/video-js.css" rel="stylesheet"&gt;
                  &lt;script src="http://vjs.zencdn.net/4.0/video.js"&gt;&lt;/script&gt;
                  span#customStyleTag

                h4 In the &lt;body&gt;:
                pre.prettyprint.lang-html
                  &lt;video id="my_video_1" class="video-js vjs-default-skin" controls
                  |  preload="auto" width="640" height="264" poster="my_video_poster.png"
                  |  data-setup="{}"&gt;
                  |  &lt;source src="my_video.mp4" type='video/mp4'&gt;
                  |  &lt;source src="my_video.webm" type='video/webm'&gt;
                  &lt;/video&gt;

      p Video clip from <a target="_blank" href="http://nature.disney.com/oceans">Disney Nature's Oceans</a>

  .social
    .container
      .buttons
        iframe(src="http://ghbtns.com/github-btn.html?user=videojs&repo=video.js&type=watch&count=true",
  allowtransparency="true", frameborder="0", scrolling="0", width="110", height="20")
        iframe(src="http://ghbtns.com/github-btn.html?user=videojs&repo=video.js&type=fork&count=true",
  allowtransparency="true", frameborder="0", scrolling="0", width="95", height="20")
        a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://videojs.com", data-via="videojs", data-related="matt_mcclure") Tweet
        a(href="https://twitter.com/videojs", class="twitter-follow-button", data-show-count="true") Follow @videojs

  .container.benefits
    .row
      .span4
        img(src='/img/cloud.png', alt='cloud')
        h2 For Designers
        ul
          li Style with the same CSS you know and love
          li Responsive design and retina displays supported
          li Built with font icons for easier customization
      .span4
        img(src='/img/cloud.png', alt='cloud')
        h2 For Developers
        ul
          li Open Source and CDN hosted
          li Dead simple embed code using the video tag
          li JavaScript API that works everywhere
      .span4
        img(src='/img/cloud.png', alt='cloud')
        h2 For Everyone
        ul
          li Free as in beer (gratis)
          li Crazy fast, less than 100k (jQuery not required)
          li Built by video experts at <a href="http://brightcove.com">Brightcove</a> &amp; <a href="http://zencoder.com">Zencoder</a>

  .usedBy
    .container.content
      h2 Sites using Video.js
      ul
        li
          a.blueAngels(href='http://www.blueangels.navy.mil/') BlueAngels
        li
          a.twitpic(href='http://twitpic.com/') twitpic
        li
          a.telly(href='http://telly.com/') Telly
        li
          a.vine(href='http://vine.co/') Vine
        li
          a.onion(href='http://www.theonion.com/') The Onion
        li
          a.mit(href='http://mit.edu/') MIT
        li
          a.airbnb(href='http://www.airbnb.com/') airbnb
        li
          a.hubpages(href='http://hubpages.com/') HubPages