extends layout

block head-includes
  script(src='//vjs.zencdn.net/5.2.1/video.js')
  link(href='//vjs.zencdn.net/5.2.1/video-js.css', rel='stylesheet')

  script(src='/js/home.js')

block content
  .banner
    .container
      .hero
        h1= "The open source HTML5 video player"
      .row
        .video.span10.offset1
          video#home_video.video-js.vjs-default-skin(controls, preload='none', poster='/img/poster.jpg')
            source(src='http://vjs.zencdn.net/v/oceans.mp4', type='video/mp4')
            source(src='http://vjs.zencdn.net/v/oceans.webm', type='video/webm')
            track(kind='captions', src='/vtt/captions.vtt', srclang='en', label='English')

          #videoModifications
            p
              | Customize Me:
              a.colorPicker#iconPicker(href='#', data-color='#ccc') Icon Color
              a.colorPicker#progressPicker(href='#', data-color='#66A8CC') Progress Color
              a.colorPicker#backgroundPicker(href='#', data-color='rgba(0,0,0,0.7)', data-color-format='rgba') Background Color
              input#fontSize(type='text', class='span2', value='', data-slider-min='60', data-slider-max='200', data-slider-step='1', data-slider-value='100', data-slider-orientation='horizontal', data-slider-selection='after', data-slider-tooltip='hide')
              a.btn.btn-info.btn-mini#showEmbedModal(href='#embedModal', role='button', data-toggle='modal') Embed This Player

            <!-- Modal -->
            #embedModal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='embedCode', aria-hidden='true')
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') x
                h3#embedCode Use Video.js
              .modal-body
                h4 In the &lt;head&gt;:
                pre.prettyprint.lang-html
                  &lt;link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet"&gt;
                  &lt;script src="http://vjs.zencdn.net/4.12/video.js"&gt;&lt;/script&gt;
                  span#customStyleTag

                h4 In the &lt;body&gt;:
                pre.prettyprint.lang-html
                  &lt;video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls
                  |  preload="auto" width="640" height="264" poster="MY_VIDEO_POSTER.jpg"
                  |  data-setup="{}"&gt;
                  |  &lt;source src="MY_VIDEO.mp4" type='video/mp4'&gt;
                  |  &lt;source src="MY_VIDEO.webm" type='video/webm'&gt;
                  |  &lt;p class="vjs-no-js"&gt;To view this video please enable JavaScript, and consider upgrading to a web browser that &lt;a href="http://videojs.com/html5-video-support/" target="_blank"&gt;supports HTML5 video&lt;/a&gt;&lt;/p&gt;
                  &lt;/video&gt;

      p Video clip from <a target="_blank" href="http://nature.disney.com/oceans">Disney Nature's Oceans</a>

  .social
    .container
      .buttons
        iframe(src="http://ghbtns.com/github-btn.html?user=videojs&repo=video.js&type=watch&count=true",
  allowtransparency="true", frameborder="0", scrolling="0", width="110", height="20")
        iframe(src="http://ghbtns.com/github-btn.html?user=videojs&repo=video.js&type=fork&count=true",
  allowtransparency="true", frameborder="0", scrolling="0", width="95", height="20")
        a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://videojs.com", data-via="videojs", data-related="zencoder") Tweet
        a(href="https://twitter.com/videojs", class="twitter-follow-button", data-show-count="true") Follow @videojs

  .container.benefits
    .row
      .span4
        img(src='/img/cloud.png', alt='cloud')
        h2 For Designers
        ul
          li Style with the same CSS you know and love
          li Responsive design and retina displays supported
          li Built with font icons for easier customization
      .span4
        img(src='/img/cloud.png', alt='cloud')
        h2 For Developers
        ul
          li Open Source and CDN hosted
          li Dead simple embed code using the video tag
          li JavaScript API that works everywhere
      .span4
        img(src='/img/cloud.png', alt='cloud')
        h2 For Everyone
        ul
          li Free as in beer (gratis)
          li Crazy fast, less than 100k (jQuery not required)
          li Built by video experts at <a href="http://brightcove.com">Brightcove</a> &amp; <a href="http://zencoder.com">Zencoder</a>

  .usedBy
    .container.content
      h2 Sites using Video.js
      ul
        li
          a.blueAngels(href='http://www.blueangels.navy.mil/') BlueAngels
        li
          a.twitpic(href='http://twitpic.com/') twitpic
        li
          a.telly(href='http://telly.com/') Telly
        li
          a.vine(href='http://vine.co/') Vine
        li
          a.onion(href='http://www.theonion.com/') The Onion
        li
          a.mit(href='http://mit.edu/') MIT
        li
          a.airbnb(href='http://www.airbnb.com/') airbnb
        li
          a.hubpages(href='http://hubpages.com/') HubPages
  .what-is
    .container.content
        div.title
          h2 What is Video.js?

        div#html5_img_container
          img(src='/img/html5-video.png', width='900', height='400', alt='HTML5 Video Player')


        p Video.js is a JavaScript and CSS library that makes it easier to work with and build on HTML5 video. This is also known as an <strong>HTML5 Video Player</strong>. Video.js provides a common controls <a href="https://github.com/videojs/video.js/blob/stable/docs/guides/skins.md">skin</a> built in HTML/CSS, fixes cross-browser inconsistencies, adds additional features like fullscreen and subtitles, manages the fallback to Flash or other playback technologies when HTML5 video isn't supported, and also provides a consistent JavaScript API for interacting with the video.

        h3 What's HTML5 Video?
        p HTML is the markup language that makes up every page on the web. The newest version, HTML5, includes specifications for a &lt;video&gt; tag, that's meant to allow web developers to add a video to a page in the same way they would add an image. In order for this to work, web browser developers have built video playback functionality into their browsers.

        p Playing video in a web page may not seem so special since you can already view video on a web page through plugins like Flash Player, Quicktime, and Silverlight. However, this is actually a big step forward for standardizing video playback across web browsers and devices. The goal is that in the future, developers will only need to use one method for embedding a video, based on open standards (not controlled by one company), and it will work everywhere. Additionally, HTML5 video can improve video performance by not requiring a second application (a plugin) to be running, and opens the door to creating interactions between video and other elements on the page that hasn't been possible before.

        h3 What's an HTML5 Video Player?
        p An HTML5 Video Player is a JavaScript library that builds a custom set of controls over top of the HTML5 video element to provide a consistent look between HTML5 browsers. Video.js builds on this by fixing many cross browser bugs or inconsistencies, adding new features that haven't been implemented by all browsers (like fullscreen and subtitles), as well as providing one consistent JavaScript API for both HTML5, Flash, and other playback technologies.

        p
          a(href='https://github.com/videojs/video.js/blob/stable/docs/guides/setup.md') Get started with Video.js
