doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = page.title + ' | ' + locals.name



      meta(name='description', content='Video.js is a JavaScript and CSS library that makes it easier to work with and build on HTML5 video. This is also known as an HTML5 Video Player.')

      meta(name="author", content="Steve Heffernan & Contributors")

      link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css', rel='stylesheet')
      link(href='//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css', rel='stylesheet')

      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
      script(src='/js/bootstrap-colorpicker.js')
      script(src='/js/bootstrap-slider.js')
      script(src='/js/prettify.js')

      link(href='/css/main.css', rel='stylesheet')

      link(rel='alternate', type='application/rss+xml', title='RSS', href='http://feeds.feedburner.com/video-js')

      // HTML5 shim, for IE6-8 support of HTML5 elements
      //if lt IE 9
        script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

      block head-includes

  body
    #wrap
      header
        .navbar.navbar-fixed-top
          .navbar-inner
            .container
              a(href=locals.url)
                img(src='/img/logo.png', alt=locals.name)
              ul.nav.pull-right
                li
                  a(href='https://github.com/videojs/video.js/blob/stable/docs/guides/setup.md') Get Started
                li
                  a(href='/downloads/video-js-4.8.0\.zip', onclick="_gaq.push(['_trackPageview', '/downloaded']);") Download
                li
                  a(href='https://github.com/videojs/video.js/blob/stable/docs/index.md') Docs
                li
                  a(href='http://designer.videojs.com', target='_blank') Designer
                li
                  a(href='http://blog.videojs.com', target='_blank') Blog
                li
                  a(href='https://github.com/videojs/video.js/wiki/Support') Help & Support
        // GitHub Fork thing
        //- a(href='https://github.com/videojs/video.js')
          img#forkMe(src='https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', alt='Fork me on GitHub')
      #content
        block content
      #push
    footer
      div.inner
        block footer
          p
            | Video.js is a free and open source HTML5 video player.
            | Copyright <a href="http://www.brightcove.com" target="_blank">Brightcove, Inc.</a>
            | View <a target="_blank" href="https://github.com/videojs/video.js/blob/master/LICENSE">license</a>.
            span
              a.tiwtterLink(href='http://twitter.com/videojs', target='_blank')
                i.icon-twitter
                | &nbsp;@videojs&nbsp;&nbsp;
              a.newsletterLink(href='http://zencoder.us2.list-manage2.com/subscribe?u=36f130c3d3fadb2a21d2983b7&id=0f35b0535c', target='_blank')
                i.icon-envelope-alt
                | &nbsp;Newsletter&nbsp;&nbsp;
              a.newsletterLink(href='https://github.com/videojs/video.js', target='_blank')
                i.icon-github-alt
                | &nbsp;Source&nbsp;&nbsp;

          // p &copy; #{ new Date().getFullYear() } #{ locals.owner }

    script(type='text/javascript').

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16505296-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
