// Color names and hex codes
$white: #fff;
$light-gray: #ECEEF1;
$dark-gray: #868688;

// Colors as used in the layout
$text-primary: $dark-gray;

$background-primary: $white;
$background-secondary: $light-gray;
