// Color names and hex codes
$white: #FAFCFF;
$light-gray: #ECEEF1;
$dark-gray: #868688;
$blue: #66A8CC;

// Colors as used in the layout

// Bootstrap overrides
$brand-primary: $blue;

// Text
$text-primary: $dark-gray;

// Backgrounds
$background-primary: $white;
$background-secondary: $light-gray;
