$nav-height: 40px;

$screen-xs: 320px;  // <= iPhone5s
$screen-sm: 360px;  // >= iPhone6
$screen-md: 768px;  // >= iPad
$screen-lg: 1280px; // Normal?
$screen-xl: 1920px; // My lawdz

$preview-video-ratio: .415625;
