@mixin transition($string) {
  -webkit-transition: $string;
  -moz-transition: $string;
  -o-transition: $string;
  transition: $string;
}

// @mixin display-flex {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display: flex;
// }

@mixin flex($string) {
  @if $string == 'auto' {
    $string: 1
  }

  -webkit-box-flex: $string;
  -webkit-flex: $string;
  -ms-flex: $string;
  flex: $string;
}

@mixin gradient($primary, $secondary: lighten($primary, 10%)) {
  background-color: $primary;
  background-image: -webkit-gradient(linear,left top,left bottom,from($primary),to($secondary));
  background-image: -webkit-linear-gradient(top,$primary 0,$secondary 100%);
  background-image: -o-linear-gradient(top,$primary 0,$secondary 100%);
  background-image: linear-gradient(to bottom,$primary 0,$secondary 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primary', endColorstr='$secondary', GradientType=0);
}

@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}
